<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Title</th>
        <th scope="col">Excerpt</th>
        <th scope="col">Author</th>
        <th scope="col">Post</th>
        <th scope="col">Created At</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post,status: ${posts}" >
        <td th:text="${post.id}"></td>
        <td th:text="${post.title}"></td>
        <td th:text="${post.excerpt}"></td>
        <td th:text="${post.author}"></td>
        <td th:text="${post.content}"></td>
        <td th:text="${post.createdAt}"></td>
        <td><a href="#" th:href="@{/post/{id}(id = ${post.id})}" class="badge badge-info">view</a></td>
    </tr>
    </tbody>
</table>
<!--old taable-->
<!--&lt;!&ndash;<table class="table" >-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th scope="col">Id</th>-->
<!--        <th scope="col">Title</th>-->
<!--        <th scope="col">Excerpt</th>-->
<!--        <th scope="col">Author</th>-->
<!--        <th scope="col">Published_At</th>-->
<!--        <th scope="col">Content</th>-->
<!--        <th scope="col">Created_At</th>-->
<!--        <th scope="col">Updated_At</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->

<!--    <tr th:each="post,status: ${posts}" >-->
<!--        <td th:text="${post.id}"></td>-->
<!--        <td th:text="${post.title}"></td>-->
<!--        <td th:text="${post.excerpt}"></td>-->
<!--        <td th:text="${post.author}"></td>-->
<!--        <td th:text="${#strings.substring(data,0,4)}"></td>-->
<!--&lt;!&ndash;-->
<!--          <td><p th:text="${#strings.substring(data,3,5)}"></p> </td>-->
<!--&ndash;&gt;-->
<!--        <td th:text="${post.content}"></td>-->

<!--        <td th:text="${post.createdAt}"></td>-->
<!--        <td th:text="${post.updatedAt}"></td>-->

<!--        <td><a href="#" th:href="@{/post/{id}(id = ${post.id})}" class="badge badge-info">view</a></td>-->

<!--        &lt;!&ndash;        <form th:action="">&ndash;&gt;-->
<!--&lt;!&ndash;        <td> <button  type="submit" name="view" th:value="*{post.id}">View</button></td>&ndash;&gt;-->
<!--&lt;!&ndash;        </form>&ndash;&gt;-->
<!--&lt;!&ndash;-->
<!--           <td th:text="${data2}"></td>-->
<!--&ndash;&gt;-->
<!--&lt;!&ndash;-->
<!--       </div>-->
<!--&ndash;&gt;-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>&ndash;&gt;-->
<br><br>

<button type="button">
    <a href="/post/new" class="btn btn-info">Write Post</a>

</button>

<!--<button name="field" value="id">
    <a href="/post/sort" class="badge badge-primary" name="field" th:value="id">Id</a>
</button>
<button name="field" value="id">
    <a href="/post/sort" class="badge badge-secondary" name="field" th:value="createdAt">Created Date</a>
&lt;!&ndash;-->
<!--</button>
<button>
    <input type="text" name="search"/>
    search

</button>&ndash;&gt;-->
<form class="example" action="/post/sort">
    <input type="text" placeholder="Sort by.." name="search" >
    <button type="submit">search</button>
</form>

</body>
</html>